@media only screen and (min-width: 768px) {
/* navbar styles */
.navbar {
  border: 2px solid black;
  background-color: #2c2f30;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 43px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  }
  
  
  
  .brand-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  float: left;
  }
  
  .brand {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-right: 2rem;
  }

  .hamburger{
    display: none;
  }
  
  .menu-toggle {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: #2b2d30;
  border: 2px solid #ffffff;
  margin-left: 10px;
  }
  
  .sign-btn{
  display: flex;
  float: right;
  }
  
  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .nav-menu li {
    list-style: none;
    margin: 0 1rem;
  }
  
  .nav-menu a {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  padding-right: 30px;
  }
  
  .nav-menu a:hover {
    color: #009eff;
    text-decoration: underline;
  }

  
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: black;
      padding: 2rem 0;
    }
  
    .nav-menu li {
      margin: 1rem 0;
    }
  
    .nav-menu a {
      font-size: 1.5rem;
    }
  
    .nav-menu a:hover {
      color: white;
    }
  
    .menu-toggle.active span:nth-child(2) {
      opacity: 0;
    }
  
    .menu-toggle.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .menu-toggle.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  
    .nav-menu.active {
      display: flex;
    }
  }
  
  /* Reset styles */
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  /* Body styles */
  body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #1d1f21;
  }
  
  /* Header styles */
  header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  }
  
  .logo {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 225px;
    display: flex;
    float: left;
  }
  
  nav .menu {
  list-style: none;
  display: flex;
  align-items: center;
  }
  
  nav .menu li {
  margin-right: 20px;
  }
  
  nav .menu li a {
  color: #2c2f30;
  text-decoration: none;
  font-weight: bold;
  
  }

  .container{
    margin: 50px auto;
    width: 80%;
  }

  .contact-box{
    background: #ffffff;
    display: flex;
  }

  .contact-left{
    color: #009eff;
    flex-basis: 60%;
    padding: 40px 60px;
  }

  .contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #009eff;
    color: #ffffff;
  }

  h1{
    margin-bottom: 10px;
    color: #009eff;
    padding-top: 100px;
  }

  .container p{
    margin-bottom: 40px;
  }

  .input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .input-row .input-group{
    flex-basis: 45%;
  }

  input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
  }

  textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10x;
  }

  label{
    margin-bottom: 6px;
    display: block;
    color: 	#009eff;
  }

  .container button{
    background: #009eff;
    width: 100px;
    border: none;
    outline: none;
    color: #ffffff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
  }

 .contact-left h3{
  color: #009eff;
  font-weight: 600;
  margin-bottom: 30px;
  }

  .contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
    }

    tr td:first-child{
        padding-right: 20px;
    }

    tr td{
      padding-top: 20px;
  }

}


@media screen and (max-width: 600px) {

  /* navbar styles */
  .navbar {
    border: 2px solid black;
    background-color: #2c2f30;
    display: flex;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  
  
  
  .brand-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    float: left;
  }
  
  .brand {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-right: 2rem;
  }

  	/* mobile hamburger menu styles */
	.hamburger{
		position: relative;
		display: block;
		width: 35px;
		cursor: pointer;

		appearance: none;
		background: none;
		outline: none;
		border: none;
	}

	.hamburger .bar, .hamburger:after, .hamburger:before{
		content: '';
		display: block;
		width: 100%;
		height: 5px;
		background-color: #ffffff;
		margin:  6px 0px;
		transition:  0.4s;
	}

	.hamburger.is-active:before {
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.hamburger.is-active:after {
		transform: rotate(45deg) translate(-8px, -7px);
	}

	.hamburger.is-active .bar{
		opacity: 0;
	}

	.mobile-nav {
		position:  fixed;
		top: 0px;
		left: 100%;
		width: 100%;
		min-height: 100vh;
		display: block;
		z-index: 98;
		background-color: rgb(95, 98, 102);
		margin-top: 80px;
		transition: 0.4s;
	}

	.mobile-nav.is-active {
		left: 0;
	}

	.mobile-nav a {
		display: block;
		width: 100%;
		max-width: 200px;
		margin: 0 auto 16px;
		text-align: center;
		margin-bottom: 16px;
		padding: 12px 16px;
		background-color: #cccccc;

		color: black;
		text-decoration: none;
	}

	.mobile-nav a:hover {
		background-color: #51ade6;
	}
  
  .menu-toggle {
    display: none;
    justify-content: flex-end;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background-color: #2b2d30;
    border: 2px solid #ffffff;
    margin-left: 10px;
  }
  
  .sign-btn{
    display: flex;
    float: right;
  }
  
  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-menu li {
    list-style: none;
    margin: 0 1rem;
  }
  
  .nav-menu a {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    padding-right: 30px;
  }
  
  .nav-menu a:hover {
    color: #009eff;
    text-decoration: underline;
  }

  
  @media screen and (max-width: 768px) {
  
    .nav-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: black;
      padding: 2rem 0;
    }
  
    .nav-menu li {
      margin: 1rem 0;
    }
  
    .nav-menu a {
      font-size: 1.5rem;
    }
  
    .nav-menu a:hover {
      color: white;
    }
  
    .menu-toggle.active span:nth-child(2) {
      opacity: 0;
    }
  
    .menu-toggle.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .menu-toggle.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  
    .nav-menu.active {
      display: flex;
    }
  }
  
  /* Reset styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #1d1f21;
  }
  
  /* Header styles */
  header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
  }
  
  .logo {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 145px;
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 10px;
  }
  
  nav .menu {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  nav .menu li {
    margin-right: 20px;
  }
  
  nav .menu li a {
    color: #2c2f30;
    text-decoration: none;
    font-weight: bold;
  }

  .container{
    margin: 50px auto;
    width: 80%;
  }

  .contact-box{
    background: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .contact-left{
    color: #009eff;
    flex-basis: 60%;
    padding: 40px 60px;
  }

  .contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #009eff;
    color: #ffffff;
  }

  h1{
    margin-bottom: 10px;
    color: #009eff;
    padding-top: 100px;
  }

  .container p{
    margin-bottom: 40px;
  }

  .input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .input-row .input-group{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
  }

  textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10x;
  }

  label{
    margin-bottom: 6px;
    display: block;
    color: 	#009eff;
  }

  .container button{
    background: #009eff;
    width: 100px;
    border: none;
    outline: none;
    color: #ffffff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
  }

 .contact-left h3{
    color: #009eff;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
    }

    tr td:first-child{
      padding-right: 20px;
    }

    tr td{
    padding-top: 20px;
    display: flex;
  }

}