@media only screen and (min-width: 768px) {
	.hamburger{
		display: none;
	}
/* navbar styles */
.navbar {
    border: 2px solid black;
    background-color: #2c2f30;
    display: flex;
    align-items: center;
    height: 80px;
	padding: 43px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
  }
  
  
  
  .brand-wrapper {
    display: flex;
	justify-content: flex-start;
    align-items: center;
	width: fit-content;
	float: left;
  }
  
  .brand {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-right: 2rem;
  }
  
  .menu-toggle {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	background-color: #2b2d30;
	border: 2px solid #ffffff;
	margin-left: 10px;
  }

  .sign-btn{
	display: flex;
	float: right;
  }
  
  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
	
  }
  
  .nav-menu li {
    list-style: none;
    margin: 0 1rem;
  }
  
  .nav-menu a {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
	padding-right: 30px;
  }
  
  .nav-menu a:hover {
    color: #009eff;
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: black;
      padding: 2rem 0;
    }
  
    .nav-menu li {
      margin: 1rem 0;
    }
  
    .nav-menu a {
      font-size: 1.5rem;
    }
  
    .nav-menu a:hover {
      color: white;
    }
  
    .menu-toggle.active span:nth-child(2) {
      opacity: 0;
    }
  
    .menu-toggle.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .menu-toggle.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  
    .nav-menu.active {
      display: flex;
    }
  }

  /* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #2c2f30;
	background-color: #ffffff;
}

/* Header styles */
header {
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.logo {
		height: auto;
		width: auto;
		max-height: 72px;
		max-width: 225px;
		display: flex;
		float: left;
}

nav .menu {
	list-style: none;
	display: flex;
	align-items: center;
}

nav .menu li {
	margin-right: 20px;
}

nav .menu li a {
	color: #2c2f30;
	text-decoration: none;
	font-weight: bold;
	
}

nav .menu li a:hover {
	text-decoration: underline;
}

.container {
    width: 90%;
    max-width: 1200px;
    align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
  }

/* intro styles */
#intro {
    
	background-image: url('intro-bg.jpg');
	background-size: cover;
	padding-top: 138px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: linear-gradient(45deg, black, transparent);
}

#intro h2 {
	font-size: 40px;
	color: #ffffff;
}

#intro h1 {
	font-size: 48px;
	color: #ffffff;
	margin-bottom: 20px;
}

#intro h3 {
	margin-bottom: 20px;
}



#intro .btn-sub {
	background-color: #0ac278;
	color: #ffffff;
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

#intro .btn-info {
	background-color: linear-gradient(45deg, black, transparent);
	color: #ffffff;
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	border: 2px solid #0ac278;
}

#intro .btn-info	 , #intro .btn-sub	 {
	display:inline-block;
	/* additional code */
	margin-left: 15px;
	margin-top: 20px;
	}

	img .EOB {
		position: static;
	}

#investers .partners {
	background-color: black;
	width: 100%;
	padding-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:beige;
	position: relative;
	}
	  
	.container p {
	font-size: 29px;
	text-align: center; /* optioneel, om de tekst in het midden van het <p> element te plaatsen */
	}
	  

#remote-support .rs {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2d30;
    width: 100%;
    padding: 87px;
    position: relative;
    color: #a5a7ad;
}

#remote-support .rs h1{
	color: #ffffff;
	font-size: 36px;
	margin-bottom: 20px;
   }


   #remote-support p{
	font-size: 18px;
	line-height: 1.5;
   }
  
  #remote-support .left {
	text-align: center;
	flex-basis: 60%;
	margin-bottom: 20px;
	padding-right: 20px;
  }
  
  #remote-support .right {
	flex-basis: 40%;
	float: right;
	text-align: right;
  }

  #easy-to-use .ety{
	display: flex;
    flex-direction: row;
    background-color: #1d1f21;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 87px;
    position: relative;
	}
	
	#easy-to-use .left {
	
	margin-right: 12px;

	}
	
	#easy-to-use .right {
	width: 50%;
	float: right;
	text-align: center;
	}
	
	#easy-to-use h1 {
	font-size: 36px;
	margin: 0 0 20px;
	}
	
	#easy-to-use p {
	font-size: 18px;
	line-height: 1.5;
	color: #a5a7ad;
	}
  
	#efficient-support .es {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #2b2d30;
		width: 100%;
		padding: 87px;
		position: relative;
		color: #a5a7ad;
	}
	
	#efficient-support .es h1{
		color: #ffffff;
		font-size: 36px;
		margin-bottom: 20px;
	   }
	
	
	   #efficient-support p{
		font-size: 18px;
		line-height: 1.5;
	   }
	  
	  #efficient-support .left {
		text-align: center;
		flex-basis: 60%;
		margin-bottom: 20px;
		padding-right: 20px;
	  }
	  
	  #efficient-support .right {
		flex-basis: 40%;
		float: right;
		text-align: right;
	  }

	  #subscription {
		background-color: black;
		width: 100%;
	  }

	  #subscription h2{
		color:  #f2f4f7;
	  }

	  #subscription p{
		color:  #a5a7ad;
	  }

	 
	  #subscription .row {
		padding: 70px 40px;
		justify-content: center;
		display: flex;
	  }

	  
/* Float four columns side by side */
.column {
	float: left;
	width: 25%;
	padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

.section.black{
	background-color: black;
}

.section {
	position: relative;
	z-index: 10;
	padding-top: 80px;
	padding-bottom: 80px;

}

.w-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 940px;	
}


.w-container h2{
	margin-top: 0px;
	margin-bottom: 12px;
	font-family: Roboto;
	color: white;
	font-size: 39px;
	line-height: 36px;
	font-weight: 400;
	text-transform: capitalize;
}

.w-container p{
	margin-top: 0px;
    margin-bottom: 15px;
    font-family: Roboto;
    color: white;
    font-size: 18px;
    line-height: 22px;
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
	font-family: 'Roboto', sans-serif;
    color: #a5a7ad;
	display: flex;
}

.pricing-row {
    margin-top: 28px;
    margin-bottom: 19px;
}

.w-col-4 {
    width: 33.33333333%;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.pricing-column {
    display: flex;
    overflow: visible;
    float: none;
    clear: none;
    background-color: rgb(44, 47, 48);
    font-size: 14px;
    object-fit: fill;
	flex-direction: column;
}

.contact {
    text-align: right;
}

.contact a{
    color: #0ac278;
}

.price {
    margin-top: 36px;
    margin-bottom: 13px;
    font-family: Roboto;
    font-size: 52px;
    line-height: 41px;
    font-weight: 300;
    text-align: center;
}

.plan-title {
    padding: 19px 15px;
    border-bottom: 3px solid rgba(218, 224, 232, 0);
    font-size: 21px;
    text-align: center;
}

.w-container h3 {
    margin: 10px 0px;
    font-family: "Roboto Condensed";
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.per-month {
    margin-bottom: 25px;
    color: rgb(111, 115, 120);
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.get-started-link {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    transition-property: color, border-color;
    transition-duration: 200ms, 500ms;
    transition-timing-function: ease, ease;
    color: rgb(11, 214, 133);
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.price-feature {
    padding: 10px 19px;
    font-size: 16px;
    text-align: center;
}

.plan-title.pro {
    border-bottom-color: transparent;
    background-color: rgba(215, 217, 222, 0.09);
    font-family: "Roboto Condensed";
}

.no-pad-section {
    background-color: rgb(29, 31, 33);
}

img {
	max-width: 100%;
}

#online
	{
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: #2b2d30;
	}


.support{
	background-color: #2b2d30;
	color: white;
	display: flex;
  	align-items: center;
  	justify-content: center
}

.support .right{
	font-size: 20px;
 	padding: 20px 30px;
  	width: 70%;
}

.get-started-simple {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    transition-property: color, border-color;
    transition-duration: 200ms, 500ms;
    transition-timing-function: ease, ease;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	border-bottom: 3px solid rgba(215, 217, 222, 0.2);
	color: rgb(215, 217, 222);
	}

	footer{
		background: linear-gradient(45deg, black, transparent);
		/* background-color: #2b2d30; */
	}

	h4 {
		margin: 0px 0px 10px;
		font-family: "Roboto Condensed";
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #ffffff;
	}

	.footer-link {
		display: inline-block;
		transition-property: color;
		transition-duration: 200ms;
		transition-timing-function: ease;
		color: black;
		text-decoration: none;
	}

	.no-spam{
		margin-top: 10px;
		clear: both;
		font-size: 14px;
		color: black;
	}

	.w-form p{
		color: black;
		display: none;
	}

	.field-left {
		width: 73%;
		margin-bottom: 10px;
		float: left;
		border-style: none;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		background-color: rgb(95, 98, 102);
		color: rgb(215, 217, 222);
	}
	
	.button.form {
		width: 27%;
		margin-right: 0px;
		padding: 9px 10px;
		float: right;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		background-color: rgb(110, 114, 120);
		color: rgba(255, 255, 255, 0.68);
	}

	.logo-text.footer{
		color: black;
		padding-top: 20px;
	}

	.footer-column.w-col.w-col-3 img{
		padding-top: 10px;
		width: 30px;
	}

	.w-input, .w-select {
		display: block;
		width: 100%;
		height: 38px;
		padding: 8px 12px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 1.428571429;
		color: #333333;
		background-color: #ffffff;
		border: 1px solid #cccccc;
	}

	form {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (min-width: 600px) {
	.hamburger{
		display: none;
	}
/* navbar styles */
.navbar {
    border: 2px solid black;
    background-color: #2c2f30;
    display: flex;
    align-items: center;
    height: 80px;
	padding: 43px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
  }
  
  
  
  .brand-wrapper {
    display: flex;
	justify-content: flex-start;
    align-items: center;
	width: fit-content;
	float: left;
  }
  
  .brand {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-right: 2rem;
  }
  
  .menu-toggle {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	background-color: #2b2d30;
	border: 2px solid #ffffff;
	margin-left: 10px;
  }

  .sign-btn{
	display: flex;
	float: right;
  }
  
  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
	
  }
  
  .nav-menu li {
    list-style: none;
    margin: 0 1rem;
  }
  
  .nav-menu a {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
	padding-right: 30px;
  }
  
  .nav-menu a:hover {
    color: #009eff;
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: black;
      padding: 2rem 0;
    }
  
    .nav-menu li {
      margin: 1rem 0;
    }
  
    .nav-menu a {
      font-size: 1.5rem;
    }
  
    .nav-menu a:hover {
      color: white;
    }
  
    .menu-toggle.active span:nth-child(2) {
      opacity: 0;
    }
  
    .menu-toggle.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .menu-toggle.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  
    .nav-menu.active {
      display: flex;
    }
  }

  /* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #2c2f30;
	background-color: #ffffff;
}

/* Header styles */
header {
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.logo {
		height: auto;
		width: auto;
		max-height: 72px;
		max-width: 225px;
		display: flex;
		float: left;
}

nav .menu {
	list-style: none;
	display: flex;
	align-items: center;
}

nav .menu li {
	margin-right: 20px;
}

nav .menu li a {
	color: #2c2f30;
	text-decoration: none;
	font-weight: bold;
	
}

nav .menu li a:hover {
	text-decoration: underline;
}

.container {
    width: 90%;
    max-width: 1200px;
    align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
  }

/* intro styles */
#intro {
    
	background-image: url('intro-bg.jpg');
	background-size: cover;
	padding-top: 138px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: linear-gradient(45deg, black, transparent);
}

#intro h2 {
	font-size: 40px;
	color: #ffffff;
}

#intro h1 {
	font-size: 48px;
	color: #ffffff;
	margin-bottom: 20px;
}

#intro h3 {
	margin-bottom: 20px;
}



#intro .btn-sub {
	background-color: #0ac278;
	color: #ffffff;
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

#intro .btn-info {
	background-color: linear-gradient(45deg, black, transparent);
	color: #ffffff;
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	border: 2px solid #0ac278;
}

#intro .btn-info	 , #intro .btn-sub	 {
	display:inline-block;
	/* additional code */
	margin-left: 15px;
	margin-top: 20px;
	}

	img .EOB {
		position: static;
	}

#investers .partners {
	background-color: black;
	width: 100%;
	padding-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:beige;
	position: relative;
	}
	  
	.container p {
	font-size: 29px;
	text-align: center; /* optioneel, om de tekst in het midden van het <p> element te plaatsen */
	}
	  

#remote-support .rs {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2d30;
    width: 100%;
    padding: 87px;
    position: relative;
    color: #a5a7ad;
}

#remote-support .rs h1{
	color: #ffffff;
	font-size: 36px;
	margin-bottom: 20px;
   }


   #remote-support p{
	font-size: 18px;
	line-height: 1.5;
   }
  
  #remote-support .left {
	text-align: center;
	flex-basis: 60%;
	margin-bottom: 20px;
	padding-right: 20px;
  }
  
  #remote-support .right {
	flex-basis: 40%;
	float: right;
	text-align: right;
  }

  #easy-to-use .ety{
	display: flex;
    flex-direction: row;
    background-color: #1d1f21;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 87px;
    position: relative;
	}
	
	#easy-to-use .left {
	
	margin-right: 12px;

	}
	
	#easy-to-use .right {
	width: 50%;
	float: right;
	text-align: center;
	}
	
	#easy-to-use h1 {
	font-size: 36px;
	margin: 0 0 20px;
	}
	
	#easy-to-use p {
	font-size: 18px;
	line-height: 1.5;
	color: #a5a7ad;
	}
  
	#efficient-support .es {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #2b2d30;
		width: 100%;
		padding: 87px;
		position: relative;
		color: #a5a7ad;
	}
	
	#efficient-support .es h1{
		color: #ffffff;
		font-size: 36px;
		margin-bottom: 20px;
	   }
	
	
	   #efficient-support p{
		font-size: 18px;
		line-height: 1.5;
	   }
	  
	  #efficient-support .left {
		text-align: center;
		flex-basis: 60%;
		margin-bottom: 20px;
		padding-right: 20px;
	  }
	  
	  #efficient-support .right {
		flex-basis: 40%;
		float: right;
		text-align: right;
	  }

	  #subscription {
		background-color: black;
		width: 100%;
	  }

	  #subscription h2{
		color:  #f2f4f7;
	  }

	  #subscription p{
		color:  #a5a7ad;
	  }

	 
	  #subscription .row {
		padding: 70px 40px;
    justify-content: center;
    display: flex;
	  }

	  
/* Float four columns side by side */
.column {
	float: left;
	width: 25%;
	padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

.section.black{
	background-color: black;
}

.section {
	position: relative;
	z-index: 10;
	padding-top: 80px;
	padding-bottom: 80px;

}

.w-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 940px;	
}


.w-container h2{
	margin-top: 0px;
	margin-bottom: 12px;
	font-family: Roboto;
	color: white;
	font-size: 39px;
	line-height: 36px;
	font-weight: 400;
	text-transform: capitalize;
}

.w-container p{
	margin-top: 0px;
    margin-bottom: 15px;
    font-family: Roboto;
    color: white;
    font-size: 18px;
    line-height: 22px;
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
	font-family: 'Roboto', sans-serif;
    color: #a5a7ad;
	display: flex;
}

.pricing-row {
    margin-top: 28px;
    margin-bottom: 19px;
}

.w-col-4 {
    width: 33.33333333%;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.pricing-column {
    display: flex;
    overflow: visible;
    float: none;
    clear: none;
    background-color: rgb(44, 47, 48);
    font-size: 14px;
    object-fit: fill;
	flex-direction: column;
}

.contact {
    text-align: right;
}

.contact a{
    color: #0ac278;
}

.price {
    margin-top: 36px;
    margin-bottom: 13px;
    font-family: Roboto;
    font-size: 52px;
    line-height: 41px;
    font-weight: 300;
    text-align: center;
}

.plan-title {
    padding: 19px 15px;
    border-bottom: 3px solid rgba(218, 224, 232, 0);
    font-size: 21px;
    text-align: center;
}

.w-container h3 {
    margin: 10px 0px;
    font-family: "Roboto Condensed";
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.per-month {
    margin-bottom: 25px;
    color: rgb(111, 115, 120);
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.get-started-link {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    transition-property: color, border-color;
    transition-duration: 200ms, 500ms;
    transition-timing-function: ease, ease;
    color: rgb(11, 214, 133);
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.price-feature {
    padding: 10px 19px;
    font-size: 16px;
    text-align: center;
}

.plan-title.pro {
    border-bottom-color: transparent;
    background-color: rgba(215, 217, 222, 0.09);
    font-family: "Roboto Condensed";
}

.no-pad-section {
    background-color: rgb(29, 31, 33);
}

img {
	max-width: 100%;
}

#online
	{
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: #2b2d30;
	}


.support{
	background-color: #2b2d30;
	color: white;
	display: flex;
  	align-items: center;
  	justify-content: center
}

.support .right{
	font-size: 20px;
 	padding: 20px 30px;
  	width: 70%;
}

.get-started-simple {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    transition-property: color, border-color;
    transition-duration: 200ms, 500ms;
    transition-timing-function: ease, ease;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	border-bottom: 3px solid rgba(215, 217, 222, 0.2);
	color: rgb(215, 217, 222);
	}

	footer{
		background: linear-gradient(45deg, black, transparent);
		/* background-color: #2b2d30; */
	}

	h4 {
		margin: 0px 0px 10px;
		font-family: "Roboto Condensed";
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #ffffff;
	}

	.footer-link {
		display: inline-block;
		transition-property: color;
		transition-duration: 200ms;
		transition-timing-function: ease;
		color: black;
		text-decoration: none;
	}

	.no-spam{
		margin-top: 10px;
		clear: both;
		font-size: 14px;
		color: black;
	}

	.w-form p{
		color: black;
		display: none;
	}

	.field-left {
		width: 73%;
		margin-bottom: 10px;
		float: left;
		border-style: none;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		background-color: rgb(95, 98, 102);
		color: rgb(215, 217, 222);
	}
	
	.button.form {
		width: 27%;
		margin-right: 0px;
		padding: 9px 10px;
		float: right;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		background-color: rgb(110, 114, 120);
		color: rgba(255, 255, 255, 0.68);
	}

	.logo-text.footer{
		color: black;
		padding-top: 20px;
	}

	.footer-column.w-col.w-col-3 img{
		padding-top: 10px;
		width: 30px;
	}

	.w-input, .w-select {
		display: block;
		width: 100%;
		height: 38px;
		padding: 8px 12px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 1.428571429;
		color: #333333;
		background-color: #ffffff;
		border: 1px solid #cccccc;
	}

	form {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 600px){


	.hamburger{
		position: relative;
		display: block;
		width: 35px;
		cursor: pointer;

		appearance: none;
		background: none;
		outline: none;
		border: none;
	}

	.hamburger .bar, .hamburger:after, .hamburger:before{
		content: '';
		display: block;
		width: 100%;
		height: 5px;
		background-color: #ffffff;
		margin:  6px 0px;
		transition:  0.4s;
	}

	.hamburger.is-active:before {
		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.hamburger.is-active:after {
		transform: rotate(45deg) translate(-8px, -7px);
	}

	.hamburger.is-active .bar{
		opacity: 0;
	}

	.mobile-nav {
		position:  fixed;
		top: 0px;
		left: 100%;
		width: 100%;
		min-height: 100vh;
		display: block;
		z-index: 98;
		background-color: rgb(95, 98, 102);
		margin-top: 80px;
		transition: 0.4s;
	}

	.mobile-nav.is-active {
		left: 0;
	}

	.mobile-nav a {
		display: block;
		width: 100%;
		max-width: 200px;
		margin: 0 auto 16px;
		text-align: center;
		margin-bottom: 16px;
		padding: 12px 16px;
		background-color: #cccccc;

		color: black;
		text-decoration: none;
	}

	.mobile-nav a:hover {
		background-color: #51ade6;
	}

		/* navbar styles */
		.navbar {
			border: 2px solid black;
			background-color: #2c2f30;
			display: flex;
			align-items: center;
			height: 80px;
			position: fixed;
			width: 100%;
			top: 0;
			z-index: 1;
		  }
		  
		  
		  
		  .brand-wrapper {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: fit-content;
			float: left;
		  }
		  
		  .brand {
			font-size: 2rem;
			font-weight: bold;
			color: white;
			margin-right: 2rem;
		  }
		  
		  .menu-toggle {
			display: none;
			justify-content: flex-end;
			cursor: pointer;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			font-size: 18px;
			font-weight: bold;
			text-decoration: none;
			color: #ffffff;
			background-color: #2b2d30;
			border: 2px solid #ffffff;
			margin-left: 10px;
		  }
		
		  .sign-btn{
			display: flex;
			float: right;
		  }
		  
		  .menu-toggle span {
			display: block;
			width: 25px;
			height: 3px;
			background-color: white;
			margin: 5px;
			transition: transform 0.3s ease-in-out;
		  }
		  
		  .nav-menu {
			display: flex;
			justify-content: center;
			align-items: center;
			
		  }
		  
		  .nav-menu li {
			list-style: none;
			margin: 0 1rem;
		  }
		  
		  .nav-menu a {
			font-size: 1.2rem;
			font-weight: bold;
			color: white;
			text-decoration: none;
			transition: color 0.3s ease-in-out;
			padding-right: 30px;
		  }
		  
		  .nav-menu a:hover {
			color: #009eff;
			text-decoration: underline;
		  }
		  
		  @media screen and (max-width: 768px) {

		  
			.nav-menu {
			  display: none;
			  flex-direction: column;
			  position: absolute;
			  top: 80px;
			  left: 0;
			  width: 100%;
			  background-color: black;
			  padding: 2rem 0;
			}
		  
			.nav-menu li {
			  margin: 1rem 0;
			}
		  
			.nav-menu a {
			  font-size: 1.5rem;
			}
		  
			.nav-menu a:hover {
			  color: white;
			}
		  
			.menu-toggle.active span:nth-child(2) {
			  opacity: 0;
			}
		  
			.menu-toggle.active span:nth-child(1) {
			  transform: rotate(45deg) translate(5px, 5px);
			}
		  
			.menu-toggle.active span:nth-child(3) {
			  transform: rotate(-45deg) translate(5px, -5px);
			}
		  
			.nav-menu.active {
			  display: flex;
			}
		  }
		
		  /* Reset styles */
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		
		/* Body styles */
		body {
			font-family: Arial, sans-serif;
			font-size: 16px;
			color: #2c2f30;
			background-color: #ffffff;
		}
		
		/* Header styles */
		header {
			background-color: #ffffff;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}
		
		nav {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: 20px;
		}
		
		.logo {
				height: auto;
				width: auto;
				max-height: 72px;
				max-width: 145px;
				display: flex;
				margin-top: 10px;
				position: absolute;
				top: 0;
				left: 0;
		}
		
		nav .menu {
			list-style: none;
			display: flex;
			align-items: center;
		}
		
		nav .menu li {
			margin-right: 20px;
		}
		
		nav .menu li a {
			color: #2c2f30;
			text-decoration: none;
			font-weight: bold;
			
		}
		
		nav .menu li a:hover {
			text-decoration: underline;
		}
		
		.container {
			width: 90%;
			max-width: 1200px;
			align-items: center;
			display: flex;
			flex-direction: column;
			margin-bottom: 30px;
		  }
		
		/* intro styles */
		#intro {
			
			background-image: url('intro-bg.jpg');
			background-size: cover;
			padding-top: 138px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			background: linear-gradient(45deg, black, transparent);
		}
		
		#intro h2 {
			color: #ffffff;
			font-size: 30px;
		}
		
		#intro h1 {
			color: #ffffff;
			margin-bottom: 20px;
			font-size: 30px;
		}
		
		#intro h3 {
			font-size: 14px;
			margin-bottom: 20px;
		}
		
		
		
		#intro .btn-sub {
			background-color: #0ac278;
			color: #ffffff;
			padding: 15px 30px;
			border: none;
			border-radius: 5px;
			font-size: 18px;
			font-weight: bold;
			text-decoration: none;
		}
		
		#intro .btn-info {
			background-color: linear-gradient(45deg, black, transparent);
			color: #ffffff;
			padding: 15px 30px;
			border: none;
			border-radius: 5px;
			font-size: 18px;
			font-weight: bold;
			text-decoration: none;
			border: 2px solid #0ac278;
		}
		
		#intro .btn-info	 , #intro .btn-sub	 {
			display:inline-block;
			/* additional code */
			margin-left: 15px;
			margin-top: 20px;
			}
		
			img .EOB {
				position: static;
			}
		
		#investers .partners {
			background-color: black;
			width: 100%;
			padding-top: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			color:beige;
			position: relative;
			}
			  
			.container p {
			font-size: 29px;
			text-align: center; /* optioneel, om de tekst in het midden van het <p> element te plaatsen */
			}
			  
		
		#remote-support .rs {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			flex-direction: column;
			background-color: #2b2d30;
			width: 100%;
			position: relative;
			color: #a5a7ad;
		}
		
		#remote-support .rs h1{
			color: #ffffff;
			font-size: 36px;
			margin-bottom: 20px;
			margin-top: 20px;
		   }
		
		
		   #remote-support p{
			font-size: 18px;
			line-height: 1.5;
		   }
		  
		  #remote-support .left {
			flex-basis: 60%;
			margin-bottom: 20px;
		  }
		  
		  #remote-support .right {
			flex-basis: 40%;
			float: right;
			text-align: right;
		  }
		
		  #easy-to-use .ety{
			display: flex;
			flex-direction: column;
			background-color: #1d1f21;
			color: #ffffff;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			text-align: center;
			position: relative;
			}
			
			#easy-to-use .left {
			
			margin-top: 20px;
		
			}
			
			#easy-to-use .right {
			margin-top: 5px;
			}
			
			#easy-to-use h1 {
			font-size: 36px;
			margin: 0 0 20px;
			}
			
			#easy-to-use p {
			font-size: 18px;
			line-height: 1.5;
			color: #a5a7ad;
			margin-bottom: 20px;
			}
		  
			#efficient-support .es {
				display: flex;
				justify-content: space-between;
				align-items: center;
				background-color: #2b2d30;
				width: 100%;
				flex-direction: column;
				position: relative;
				color: #a5a7ad;
			}
			
			#efficient-support .es h1{
				margin-top: 20px;
				color: #ffffff;
				font-size: 36px;
				margin-bottom: 20px;
			   }
			
			
			   #efficient-support p{
				font-size: 18px;
				line-height: 1.5;
			   }
			  
			  #efficient-support .left {
				text-align: center;
				margin-bottom: 20px;
			  }
			  
			  #efficient-support .right {
				flex-basis: 40%;
				float: right;
				text-align: right;
				margin-bottom: 20px;
			  }
		
			  #subscription {
				background-color: black;
				width: 100%;
			  }
		
			  #subscription h2{
				color:  #f2f4f7;
			  }
		
			  #subscription p{
				color:  #a5a7ad;
			  }
		
			 
			  #subscription .row {
				padding: 70px 40px;
			justify-content: center;
			display: flex;
			  }
		
			  
		/* Float four columns side by side */
		.column {
			float: left;
			width: 25%;
			padding: 0 10px;
		  }
		  
		  /* Remove extra left and right margins, due to padding */
		  .row {margin: 0 -5px;}
		  
		  /* Clear floats after the columns */
		  .row:after {
			content: "";
			display: table;
			clear: both;
		  }
		
		.section.black{
			background-color: black;
		}
		
		.section {
			position: relative;
			z-index: 10;
			padding-top: 80px;
			padding-bottom: 80px;
		
		}
		
		.w-container {
			margin-left: auto;
			margin-right: auto;
			max-width: 940px;	
		}
		
		
		.w-container h2{
			margin-top: 0px;
			margin-bottom: 12px;
			font-family: Roboto;
			color: rgb(242, 244, 247);
			font-size: 32px;
			line-height: 36px;
			font-weight: 400;
			text-transform: capitalize;
		}
		
		.w-container p{
			font-family: Roboto;
			color: rgb(165, 167, 173);
			font-size: 14px;
			line-height: 22px;
			text-align: center;
		}
		
		.w-container .w-row {
			font-family: 'Roboto', sans-serif;
			color: #a5a7ad;
		}
		
		.pricing-row {
			margin-top: 28px;
			margin-bottom: 19px;
		}
		
		.w-col-4 {
			width: 33.33333333%;
		}
		
		.w-col {
			position: relative;
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 20px;
		}
		
		.pricing-column {
			display: flex;
			overflow: visible;
			float: none;
			clear: none;
			background-color: rgb(44, 47, 48);
			font-size: 14px;
			object-fit: fill;
			flex-direction: column;
			margin-bottom: 20px;
		}
		
		.contact {
			text-align: right;
		}

		.contact a{
			color: #0ac278;
		}
		
		.price {
			margin-top: 36px;
			margin-bottom: 13px;
			font-family: Roboto;
			font-size: 52px;
			line-height: 41px;
			font-weight: 300;
			text-align: center;
		}
		
		.plan-title {
			padding: 19px 15px;
			border-bottom: 3px solid rgba(218, 224, 232, 0);
			font-size: 21px;
			text-align: center;
		}
		
		.w-container h3 {
			margin: 10px 0px;
			font-family: "Roboto Condensed";
			font-size: 24px;
			line-height: 30px;
			font-weight: 400;
			text-transform: uppercase;
		}
		
		.per-month {
			margin-bottom: 25px;
			color: rgb(111, 115, 120);
			font-size: 16px;
			text-align: center;
			text-transform: uppercase;
		}
		
		.get-started-link {
			display: inline-block;
			margin-top: 20px;
			margin-bottom: 20px;
			transition-property: color, border-color;
			transition-duration: 200ms, 500ms;
			transition-timing-function: ease, ease;
			color: rgb(11, 214, 133);
			font-weight: 500;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
		}
		
		.price-feature {
			padding: 10px 19px;
			font-size: 16px;
			text-align: center;
		}
		
		.plan-title.pro {
			border-bottom-color: transparent;
			background-color: rgba(215, 217, 222, 0.09);
			font-family: "Roboto Condensed";
		}
		
		.no-pad-section {
			background-color: rgb(29, 31, 33);
		}
		
		img {
				max-width: 100%;
				height: auto;
				box-sizing: border-box;
			}
		
		
		#online
			{
				padding-top: 30px;
				padding-bottom: 30px;
				background-color: #2b2d30;
			}
		
		
		.support{
			background-color: #2b2d30;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		
		.support .right{
			font-size: 20px;
			padding: 20px 30px;
			  
		}
		
		.get-started-simple {
			display: inline-block;
			margin-top: 20px;
			margin-bottom: 20px;
			transition-property: color, border-color;
			transition-duration: 200ms, 500ms;
			transition-timing-function: ease, ease;
			color: #ffffff;
			font-weight: 500;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			border-bottom: 3px solid rgba(215, 217, 222, 0.2);
			color: rgb(215, 217, 222);
			}
		
			footer{
				background: linear-gradient(45deg, black, transparent);
				/* background-color: #2b2d30; */
			}
		
			h4 {
				margin: 0px 0px 10px;
				font-family: "Roboto Condensed";
				font-size: 16px;
				line-height: 24px;
				font-weight: 400;
				text-transform: uppercase;
				color: #ffffff;
			}
		
			.footer-link {
				display: inline-block;
				transition-property: color;
				transition-duration: 200ms;
				transition-timing-function: ease;
				color: black;
				text-decoration: none;
			}
		
			.no-spam{
				margin-top: 10px;
				clear: both;
				font-size: 14px;
				color: black;
			}
		
			.w-form p{
				color: black;
				display: none;
			}
		
			.field-left {
				width: 73%;
				margin-bottom: 10px;
				float: left;
				border-style: none;
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
				background-color: rgb(95, 98, 102);
				color: rgb(215, 217, 222);
			}
			
			.button.form {
				width: 27%;
				margin-right: 0px;
				padding: 9px 10px;
				float: right;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				background-color: rgb(110, 114, 120);
				color: rgba(255, 255, 255, 0.68);
			}
		
			.logo-text.footer{
				color: black;
				padding-top: 20px;
			}
		
			.footer-column.w-col.w-col-3 img{
				padding-top: 10px;
				width: 30px;
			}
		
			.w-input, .w-select {
				display: block;
				width: 100%;
				height: 38px;
				padding: 8px 12px;
				margin-bottom: 10px;
				font-size: 14px;
				line-height: 1.428571429;
				color: #333333;
				background-color: #ffffff;
				border: 1px solid #cccccc;
			}
		
			form {
				display: flex;
				flex-direction: column;
			}

}