@page "/"

<div class="m-3 text-center">
    <h1>Welcome to Engineer Out of the Box</h1>
    <p class="mt-4">Are you having trouble with your machines and want quick, easy and skilled support? The EOB is here to help.</p>
    <p>With the EOB (Engineer Out of the Box) you can be assisted remotely in case of calamities in industrial processes! You will be connected via a camera, microphone / speaker and/or a chat function. Data can be sent back and forth if that is necessary.  </p>
</div>
